@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-text{
     font-family: "Roboto", sans-serif !important;
}
@import "tailwindcss";

@plugin "daisyui"{
    themes: light --default;
}

.bg-img{
    background-image: url(.//assets/image/bg5.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.bg2-img{
    background-image: url(.//assets/image/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg1-img{
    background-image: url(.//assets/image/card.png);
    background-size: cover;
}
.logo{
    background-image: url(./assets/image/logo.png);
    background-size: cover;
}
.card{
    background-image: url(./assets/image/cart.png);
    background-size: cover;
}

